{% extends "base.html" %}
{% load crispy_forms_tags %}  

{% block content %}
<style>
    .container1 {
        margin-top: 10px; /* Adjust the value as needed */
    }
    </style>
<div class="container1 mx-auto">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 pb-3">
            <div class="p-4">
                <div class="alert alert-info">
                    Your password has been successfully changed 
                </div>
                <div>
                    <a href="{% url 'profile' %}" class="btn btn-outline-info">Back to Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

